@import url("https://unpkg.com/leaflet@1.7.1/dist/leaflet.css");
@import url("https://unpkg.com/react-leaflet-markercluster/dist/styles.min.css");

button {
  display: inline-block;
  border: none;
  padding: 1em;
  margin: 0;
  text-decoration: none;
  color: #666;
  background: transparent;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  &.white {
    color: #fff;
  }
}

button:active {
  transform: scale(0.99);
}

.leaflet-container {
  height: calc(100% - 80px);
  width: 100%;
  position: absolute!important;
  display: block;
}

.zappar-permission-request {
  z-index: 9001!important;
}

.leaflet-touch {
  & .leaflet-control-layers-toggle {
    width: 30px!important;
    height: 30px!important;
    background-image: url("./svg/visibility.svg");
    background-size: 20px 20px!important;
  }
  & .control-developer a {
    background-image: url("./svg/developer.svg")!important;
  }
  & .leaflet-control-layers, .leaflet-bar {
    border: 1px solid #aaa;
    border-radius: 5px;
  }
  & .leaflet-bar {
    & a {
      color: transparent;
      position: relative;
      background-size: .75em;
      &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-image: url("./svg/plus.svg");
      }
      &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-image: url("./svg/minus.svg");
      }
    }
  }
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  box-shadow: none;
  border: 1px solid #aaa;
}

.leaflet-popup-tip-container {
  bottom: -19px;
}

.leaflet-container a.leaflet-popup-close-button {
  display: none;
}

.leaflet-marker-user {
  box-shadow: #666 0px 0px 5px 0px;
  border-radius: 100%;
}

.leaflet-control-layers.leaflet-control {
  display: none;
}

.dev-tools-active .leaflet-control-layers.leaflet-control {
  display: block;
}






